.hero__section {
  height: 30rem;
}

.hero__para {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.7;
}

.borders {
  border: 3px solid red;
}

.hero__Zindex {
  z-index: 10000000;
}

.hero-sofa_img {
  max-width: 680px;
  right: 0;
}

.hero__index {
  z-index: -9999;
  right: -110px;
}

.hero_shopNow-btn {
  color: rgb(59, 56, 47);
  background-color: #f9bf29;
  border: none;
  width: 135.225px;
  height: 44.6px;
}
.hero_Explore-btn {
  color: white;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.278);
  width: 110px;
  height: 44px;
}

.hero_shopNow-btn,
.hero_Explore-btn {
  font-weight: 600;
  font-size: 16px;
}

.hero_Explore-btn:hover {
  border: 2px solid #fff;
}
