.navbar__block {
  background-color: rgb(59, 93, 80);
}

.container-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 40%;
}

ul li .nav__item-styles {
  color: rgba(255, 255, 255, 0.27);
}

ul li .nav__item-styles:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.15s ease-in-out;
}

.nav__item-styles:hover {
  border-bottom: 5px solid gold;
  color: #fff;
}

.user_icon {
  width: 17px;
  margin-right: 22px;
}
