.We-Help_you-div {
  margin-top: 5rem;
  padding-bottom: 0;
  height: 55rem;
}

.We-Help_you-bg-img {
  position: relative;
  left: -10rem;
  top: -4rem;
  z-index: -99999999999;
}

.We-Help_you-img1 {
  position: relative;
  top: -13rem;
  left: -1rem;
  width: 70%;

  border-radius: 20px;
}

.We-Help_you-img2 {
  width: 30%;
  position: relative;
  top: -55.9rem;
  left: 28.9rem;

  border-radius: 20px;
}

.We-Help_you-img3 {
  width: 57%;
  position: relative;
  top: -31rem;
  left: 6.1rem;
  z-index: 99999;
  border-radius: 20px;
}

.modern_heading {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.15;
}
.modern__para {
  font-size: 0.875rem;
  color: #6a6a6a;
}

.We-Help_you-ul {
  list-style-type: circle;
}
